* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   
    background-color: black;
    color: white;
 
    

}
html{
    scroll-behavior:smooth;
}
.folio{
    color: purple;
}
.Portfolio{
    margin: 10px;
    display: flex;
    justify-items: center;
    justify-content: center;
}
.navbar{
    margin: 10px;
    position: fixed;
    width: 90%;
    height: 60px;
    border-radius:999px;
    outline: none;
    border: none;
    box-sizing: content-box;
    text-decoration: none;
    background-color:orange;
    display: flex; 
    align-items: center; 
    margin-top: 10px;
    gap: 10%;
    justify-content: center;
    z-index: 1000;
} 

.navbar.active{
    background-color: orange;
     /* box-shadow: 0 4px 15px rgba(0,0,0,0.3); */
}
.Home{
    display: flex;
    gap: 20px; 
}
.navbar i{
    display: none; 
}

.Home a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size:larger;
    padding-bottom: 6px;
   
}
.Home a::after {
    content: "";
    position: absolute;
    left:0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background:purple ;
  transition: width 0.3s ease;
}

.Home a:hover::after {
  width: 100%;    
}
.HeroSection{
    margin: 5%;
    margin-top: 15%;
   
}
.header-blog{
    display: flex;
    gap: 10%;
    align-items: center;
}
#intro{
    width: 60%;
    
   letter-spacing: 0.5px;
   line-height: 1.5;

}
.pic{
  width: 80%;
  max-width: 350px;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
   box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}


#intro  strong{
    color: orange;
}
#type{

    position: relative;
  font-weight: bold;
  color: transparent; 
   display: inline-block;

}
#type::before {
    content: attr(data-text);
    position: absolute;
     color:purple;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid purple;
  animation:slide 6s steps(25) infinite;

}
#border{
    width:90%;
    height: 3px;
    border-bottom: 5px solid white;
    border-radius: 6px;
    display:block;
    margin-left: 5%;
}


/* type animation */
@keyframes slide {
 0%{
    width:0%;
  }
  
  50%{
    width:100%;
    
  }
  
  100%{
    width:0%;
  }

    
}
/* media quires */
@media (max-width:768px) {
    .navbar{
        width: 80%;
        display: flex;
        justify-content: center;
        position: fixed;
    }
    .navbar i{
      
        display: block;
        font-size: 24px;
        cursor: pointer;

    }
    .Home{
       position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: orange;
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;

    }
 
    .Home.active{
        display: flex;
          transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }




    
}
@media (max-width:768px) {
    .header-blog{
        display: grid; 
        grid-template-rows:auto ;
        justify-items: center;
        text-align: center;
        gap: 20px;
       
    }
    .HeroSection{
        margin-top: 20%;
    }
        #type::before {
        animation-duration: 8s;
        font-size: 18px;
    }
    
    
}

/* AboutMe */
.about{
    margin-top:4%;
    margin-left: 5%
}
.self{

    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 2%;
    
}
h3{
    font-size: xx-large;
    margin-top: 3%;
}
.background{
    max-width: 400px;
  line-height: 2.4;
  letter-spacing: 2px;
  font-size: large;
}
#second{
    text-align: center;
    font-size: 250%;
    color: purple;
}
.learned{
    max-width: 400px;
    line-height: 1.7;
    letter-spacing: 2px;
    padding-left: 20px;
    font-size: large;
}

.learned li{
    margin-bottom: 10px;
    font-size: 16px;
}
.career{
    max-width: 400px;
}

.goals{
    letter-spacing: 1.5px;
    font-size: large;
    line-height:2.5;
}
@media (max-width:768px) {
.self{
        display: grid;
        grid-template-rows: auto;
        justify-items: center;
        text-align: center;
        justify-content: center;
        gap: 20px;
    }

    
    

    
}
/* skills */
.skill{
    margin-top:4%;
    margin-left: 5%;
    margin-bottom: 5%;
}
#third{
    text-align: center;
    
     font-size: 250%;
     color: purple;
    }
.technologies{
    margin: 5px;
    margin-top: 30px;
      display: grid;
      justify-content: space-between;
  
        gap: 40px;
    grid-template-columns: repeat(2,1fr);
}
.technologies i{
    font-size: xx-large;
}
.first{
   
    font-size: large;
     border-radius: 9px;
    border: 5%;
    background:white;
    width: 60%;
    color:purple;
    text-align: center;
    justify-content: center;
    transition: all 0.3s ease;
   
}

.first:hover{
    background: orange;
    color: black;
    box-shadow: inset;
   box-shadow: inset 0 0 10px purple;
      cursor: pointer;
    transform: translateY(-12px);

}


#css{
  font-size: large;
     border-radius: 9px;
    border: 5%;
    background:white;
    width: 60%;
    color:purple;
    text-align: center;
    justify-content: center;
        transition: all 0.3s ease;
}
#css:hover{
    background: orange;
    color: black;
    box-shadow: inset;
   box-shadow: inset 0 0 10px purple;
      cursor: pointer;
    transform: translateY(-12px);
}

#js{
    font-size: large;
    border-radius: 9px;
    border: 5%;
    background: white;
    width: 60%;
    color: purple;
    transition: all 0.3s ease;
    text-align: center;
    justify-content: center;
}
#js:hover{
    background: orange;
    color: black;
    box-shadow: inset;
      box-shadow: inset 0 0 10px purple;
      cursor: pointer;
    transform: translateY(-12px);
}
#react{
      border-radius: 9px;
    border: 5%;
    background: white;
    width: 60%;
    color: purple;
   font-size: large;
    text-align: center;
    justify-content: center; 
        transition: all 0.3s ease;
}
#react:hover{
 background: orange;
    color: black;
    box-shadow: inset;
       cursor: pointer;
          box-shadow: inset 0 0 10px purple;
    transform: translateY(-12px);
}
#BOOTSTRAP{
         border-radius: 9px;
    border: 5%;
    background: white;
    width: 60%;
    color: purple;
    font-size: large;
    text-align: center;
    transition: all 0.3s ease;
    justify-content: center;  
}
#BOOTSTRAP:hover{
    background: orange;
    color: black;
    box-shadow: inset 0 0 10px purple;
      cursor: pointer;
    transform: translateY(-12px);
}
@media (max-width:768px) {
    .technologies{
       display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        width: 100%;
        place-items: center
    }
    
}
/* Projects */
.Projects{
    margin-top: 4%;
    margin-left: 5%;
    margin-bottom: 3%;
  
}
#four{
     text-align: center;
     font-size: 250%;
     color: purple;

}
.experience1{
  display: flex;
  /* justify-content: center; */
  gap: 10%;
  margin: 5px;
}
 .visitor{
  max-width: 600px;
  border-radius: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
 }
 #expense{
    letter-spacing: 2.5px;
    line-height: 1.9;
    font-size: large;
 }
 
 .experience2{
      display: flex;
  /* justify-content: center; */
  gap: 10%;
  margin: 5px;
 }
 .admin{
      max-width: 400px;
  border-radius: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
 }
 #admin{
      letter-spacing: 2.5px;
    line-height: 1.9;
    font-size: large;
 }
 @media (max-width:768px) {
    .experience1{
        display: grid;
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;

    }
    .visitor{
        width: 80%;
        align-items: center;
    }
        .experience2{
        display: grid;
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;

    }
    .admin{
        width: 80%;
        align-items: center;
    }

    
 }
 /* contact */
 .contact{
    margin-top: 4%;
    margin-left: 5%;

 }
 #five{
     text-align: center;
     font-size: 250%;
     color: purple;
     
 }
 .message{
    display: flex;
    gap: 20px;
    transition: all 0.3s ease;
  
 }
 .message i:hover{
transform:translateY(-12px) ;
    color:purple;
 }
 .github i{
    background-color: black;
    color: white;
   
 
 }
 .linkind i{
       background-color: black;
    color: white;
 }
 footer{
    display: flex;
    justify-content: space-between;
  
    background-color: purple;
 }
 @media (max-width:768px) {
    .message{
        display: grid;
        grid-template-rows: auto;
        font-size: large;
    }
    
 }
 /* footer */
footer{
    padding: 30px 0;
    text-align: center;
    background-color: #111;
    color: #fff;
}

.foot h1{
    margin-bottom: 10px;
}

 








