* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   
    background-color: black;
    color: white;
 
    

}
html{
    scroll-behavior:smooth;
}
.folio{
    color: purple;
}
.Portfolio{
    margin: 10px;
    display: flex;
    justify-items: center;
    justify-content: center;
}
.navbar{
    margin: 10px;
    position: fixed;
    width: 90%;
    height: 60px;
    border-radius:999px;
    outline: none;
    border: none;
    box-sizing: content-box;
    text-decoration: none;
    background-color:orange;
    display: flex; 
    align-items: center; 
    margin-top: 10px;
    gap: 10%;
    justify-content: center;
    z-index: 1000;
} 

.navbar.active{
    background-color: orange;
     /* box-shadow: 0 4px 15px rgba(0,0,0,0.3); */
}
.Home{
    display: flex;
    gap: 20px; 
}
.Home a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size:larger;
    padding-bottom: 6px;
   
}
.Home a::after {
    content: "";
    position: absolute;
    left:0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background:purple ;
  transition: width 0.3s ease;
}

.Home a:hover::after {
  width: 100%;    
}
.HeroSection{
    margin: 5%;
    margin-top: 15%;
   
}
.header-blog{
    display: flex;
    gap: 10%;
}
#intro{
    width: 60%;
    
   letter-spacing: 0.5px;
   line-height: 1.5;

}
.pic{
  width: 80%;
  height: 50%;
  object-fit: cover;
}


#intro  strong{
    color: orange;
}
#type{

    position: relative;
  font-weight: bold;
  color: transparent; 

}
#type::before {
    content: attr(data-text);
    position: absolute;
     color:purple;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid purple;
  animation:slide 8s steps(21) infinite;

}
#border{
    width:90%;
    height: 5px;
    border-bottom: 5px solid white;
    border-radius: 6px;
    display:block;
  
    margin-left: 5%;
}

/* type animation */
@keyframes slide {
 0%{
    width:0%;
  }
  
  50%{
    width:100%;
    
  }
  
  100%{
    width:0%;
  }

    
}
/* skills */
.skill{
    margin-top:18%;
    margin-left: 5%;
}
.technologies{
    margin: 5px;
    margin-top: 10px;
      display: grid;
      justify-content: space-between;
  
        gap: 40px;
    grid-template-columns: repeat(2,1fr);
}
.first{
   
    font-size: large;
     border-radius: 9px;
    border: 5%;
    background:white;
    width: 60%;
    color:purple;
    text-align: center;
    justify-content: center;
   
}

.first:hover{
    background: orange;
    color: black;
    box-shadow: inset;
}


#css{
    border-radius: 9px;
    border: 5%;
    font-size: large;
    background:white;
    width: 60%;
    color:purple;
    display: flex;
    text-align:center ;
    justify-content: center;
}
#css:hover{
    background: orange;
    color: black;
    box-shadow: inset;
}

#js{
    border-radius: 9px;
    border: 5%;
    background: white;
    width: 60%;
    color: purple;
    display: flex;
    text-align: center;
    justify-content: center;
}
#js:hover{
    background: orange;
    color: black;
    box-shadow: inset;
}
#react{
      border-radius: 9px;
    border: 5%;
    background: white;
    width: 60%;
    color: purple;
    display: flex;
    text-align: center;
    justify-content: center; 
}
#react:hover{
 background: orange;
    color: black;
    box-shadow: inset;
}
#BOOTSTRAP{
         border-radius: 9px;
    border: 5%;
    background: white;
    width: 60%;
    color: purple;
    display: flex;
    text-align: center;
    
    justify-content: center;  
}
#BOOTSTRAP:hover{
    background: orange;
    color: black;
    box-shadow: inset;
}







