* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   
    background-color: black;
    color: white;
 
    

}
html{
    scroll-behavior:smooth;
}

.folio{
color: purple;
}
.Portfolio{
    margin: 10px;
    display: flex;
    justify-items: center;
    justify-content: center;
}
.navbar{
   margin: 10px;
   position: fixed;
    width: 90%;
    height: 60px;
    border-radius:999px;
    outline: none;
    border: none;
    box-sizing: content-box;
    text-decoration: none;
    background-color:orange;
    display: flex; 
    align-items: center; 
    margin-top: 10px;
    gap: 10%;
    justify-content: center;
    z-index: 1000;
}

.Home{
    display: flex;
    gap: 20px;
   

  
}
.Home a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size:larger;
    padding-bottom: 6px;
   
}
.Home a::after {
    content: "";
    position: absolute;
    left:0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background:purple ;
  transition: width 0.3s ease;
}

.Home a:hover::after {
  width: 100%;    
}
.HeroSection{
    margin: 5%;
    margin-top: 15%;
}
#intro{
    width: 60%;
    
   letter-spacing: 0.5px;
   line-height: 1.5;
   position: absolute;  
}


#intro  strong{
    color: orange;
}
#type{

    position: relative;
  font-weight: bold;
  color: transparent; 

}
#type::before {
    content: attr(data-text);
    position: absolute;
     color:purple;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid purple;
  animation:slide 8s steps(21) infinite;

}
/* type animation */
@keyframes slide {
 0%{
    width:0%;
  }
  
  50%{
    width:100%;
    
  }
  
  100%{
    width:0%;
  }

    
}
/* skills */
.skill{
    margin-top:50%;
    margin-left: 5%;
}
.technologies{
    margin: 5px;
      display: grid;
      justify-content: space-between;

    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
}
.first{
    display:grid;
    font-size: large;
     border-radius: 9px;
    border: 5%;
    background:white;
    width: 15%;
    color:purple;

    justify-content: center;
   
}

.first:hover{
    background: orange;
    color: black;
    box-shadow: inset;
}


#css{
    border-radius: 9px;
    border: 5%;
    font-size: large;
    background:white;
    width: 15%;
    color:purple;
    display: flex;
    justify-content: center;
}
#css:hover{
    background: orange;
    color: black;
    box-shadow: inset;
}

#js{
    border-radius: 9px;
    border: 5%;
    background: purple;
    width: 15%;
    color: white;
    display: flex;
    justify-content: center;
}
#js:hover{
    background: orange;
    color: black;
    box-shadow: inset;
}







