body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    

}
.folio{
color: purple;
}
.Portfolio{
    margin: 10px;
    display: flex;
    justify-items: center;
    justify-content: center;
}
.navbar{
   margin: 10px;
    width: 90%;
    height: 60px;
    border-radius:999px;
    outline: none;
    border: none;
    box-sizing: content-box;
    text-decoration: none;
    background-color:orange;
    display: flex; 
    align-items: center; 
    margin-top: 10px;
    gap: 10%;
    justify-content: center;
}

.Home{
    display: flex;
    gap: 20px;

  
}
.Home a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size:larger;
    padding-bottom: 6px;
   
}
.Home a::after {
    content: "";
    position: absolute;
    left:0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background:purple ;
  transition: width 0.3s ease;
}

.Home a:hover::after {
  width: 100%; 
 
     
}






.content{
    margin: 5%;
}
span{
    color: purple;
    animation:backwards ;
}
