body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    

}
.folio{
color: purple;
}
.Portfolio{
    margin: 10px;
    display: flex;
    justify-items: center;
    justify-content: center;
}
.navbar{
   margin: 10px;
    width: 90%;
    height: 60px;
    border-radius:999px;
    outline: none;
    border: none;
    box-sizing: content-box;
    text-decoration: none;
    background-color:orange;
    display: flex; 
    align-items: center; 
    margin-top: 10px;
    gap: 10%;
    justify-content: center;
}

.Home{
    display: flex;
    gap: 20px;

  
}
.Home a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size:larger;
    padding-bottom: 6px;
   
}
.Home a::after {
    content: "";
    position: absolute;
    left:0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background:purple ;
  transition: width 0.3s ease;
}

.Home a:hover::after {
  width: 100%;    
}






.HeroSection{
    margin: 5%;
    margin-top: 10%;
}
#intro{
   width: 50%;
   letter-spacing: 0.5px;
   line-height: 1.5;
  
}
#intro  strong{
    color: orange;
}
#type{
    color: purple;
    font-weight:bold;
    position: relative;

      display: inline-block;
      letter-spacing: 2px;

}
#type::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
     left:0;
     color:purple;
  width: 0;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid purple;
  animation:slide 5s steps(18) infinite;

}
@keyframes slide {
 0%{
    width:0%;
  }
  
  50%{
    width:100%;
    
  }
  
  100%{
    width:0%;
  }

    
}

